.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid #ccc;
  }
  
  .nav-links {
    display: flex;
    gap: 120px;
    color: black;
    font-size: 14px,
    
  }
  
  .contact-button,
  .hamburger-button,
  .mobile-contact-button,
  .mobile-nav-link {
    cursor: pointer;
  }
  
  .hamburger-button {
    display: none;
    background: none;
    border: none;
  }
  
  .mobile-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  
  @media (max-width: 1024px) {
    .nav-links,
    .contact-button {
      display: none;
    }
  
    .hamburger-button {
      display: block;
    }
  }
